.el-table {
  border-radius: 0.8rem !important;
}

.el-table thead {
  height: 4rem;
}

.el-table th.el-table__cell > .cell {
  line-height: 1.9rem;
  font-size: 1.4rem;
}

.el-table--small .el-table__cell {
  border-left: 0;
  border-right: 0;
}

.fn-table-border .el-table__cell {
  border-right: 1px solid #ebeef5 !important;
}

.el-table .cell {
  font-family: MicrosoftYaHei, MicrosoftYaHei;
  font-size: 1.4rem;
  color: #000c01;
  line-height: 1.9rem;
  font-style: normal;
}
