@import url('./el-dailog.css');
@import url('./el-button.css');
@import url('./el-table.css');
@import url('./el-select.css');
@import url('./el-radio.css');
@import url('./el-checkbox.css');
@import url('./el-input.css');

:root {
  --fn-font-size: 1.4rem;
  --fn-gap: 1.8rem;
  --fn-font-family: 微软雅黑, serif;
  --fn-primary-color: #fc6b20;
  --fn-box-shadow: 0 0 2rem 0 #f2f2ff;
  --fn-border-radius: 0.8rem;
  --fn-color-black: #000c01;
  --fn-background-color-white: #fff;
  --fn-font-style-normal: normal;
}

.fn-font {
  font-family: MicrosoftYaHei, MicrosoftYaHei;
  font-size: 1.4rem;
  color: #000c01;
  line-height: 2.2rem;
  font-style: normal;
}

.fn-text-left {
  text-align: left;
}

/*超出一行换行*/
.fn-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fn-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fn-caozuo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fn-caozuo-col .el-button {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0 0 0.8rem;
  color: #1067ee;
}
.fn-caozuo-col .el-button:last-child {
  margin-bottom: 0;
}

.fn-full {
  width: 100%;
  height: 100%;
}
.fn-red {
  color: #ff5151 !important;
}
.fn-blue {
  color: #012f9a !important;
}
.fn-primary {
  color: var(--fn-primary-color) !important;
}

.fn-flex {
  display: flex;
}
.fn-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fn-ml-gap {
  margin-left: var(--fn-gap);
}
.fn-ml-gap-i {
  margin-left: var(--fn-gap) !important;
}
.fn-mr-gap {
  margin-right: var(--fn-gap);
}
.fn-mt-gap {
  margin-top: var(--fn-gap);
}
.fn-mb-gap {
  margin-bottom: var(--fn-gap);
}
.fn-mb-gap-min {
  margin-bottom: 0.8rem;
}
.fn-mt-gap-min {
  margin-top: 0.8rem;
}
.fn-mr-gap-min {
  margin-right: 0.8rem;
}
.fn-ml-gap-min {
  margin-left: 0.8rem;
}

/*主体容器*/
.fn-page-container {
  overflow: hidden;
  background: #fcfcfe;
  padding: 0.2rem 2.8rem 0;
}
